LBridge/scripts/python/LBridge/.idea
LBridge/scripts/python/LBridge/.venv
LBridge/scripts/python/LBridge/__pycache__
LBridge/scripts/python/LBridge/Quixel*

LBridge/otls/backup
LBridge/otls/lop_lorenz.dev.megascan_simple_3d_asset_import.1.0.hdalc
LBridge/otls/lop_dev.megascan_simple_3d_plant_import.1.0.hdalc
LBridge/otls/lop.dev.megascan_simple_3d_asset_import.1.0.hdalc
LBridge/logs/*
!LBridge/logs/.gitkeep
MainMenuCommon.xml

